#zipInput {
  margin-left: 40%;
}
body {
  background-image: url("https://static-11.sinclairstoryline.com/resources/media/0fa57314-83f5-419b-a0b5-fb3397263ade-large16x9_Charlotte.jpg?1586525520747");
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  text-align: center;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: darkred;
  font-size: 40px;
}
.bckg {
  margin-top: 10%;
  opacity: 0.75;
  background-color: blanchedalmond;
  width: 70%;
  margin-left: 15%;
}
.bckg1 {
  opacity: 0.75;
  background-color: blanchedalmond;
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}
h3 {
  text-align: center;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: darkred;
}
